<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Save any kind of movies </h1>
    <p>Build your watchlist.</p>
  </div>
</div>

<div class="container">
  <h2>My lists</h2>
   <%= link_to "Create a movie list", new_list_path, class:"btn btn-ghost" %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/04/03/12/Casablanca.jpg?quality=75&width=990&auto=webp&crop=982:726,smart)">
        Classical
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.denofgeek.com/wp-content/uploads/2017/11/thor_ragnarok_comedy_marvel-1.jpg?resize=768%2C432)">
        Superhero
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-lgbt-films-portrait-of-a-lady-on-fire-everett-1589819041.jpg)">
        Queer romance
      </div>
    </div>
</div>
