<h1>Create your movie list</h1>
 <%= simple_form_for(@list) do |f| %>
  <%= f.input :name, placeholder: 'Add a list name' %>
  <%= f.input :image_url, placeholder: 'Add an image URL' %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
