<%= render 'header' %>

<div class="container">
  <div class="">
    <div class="row new-form">
      <div class="col-lg-6 left-bg-new" style="margin-top: 80px">
      </div>
      <div class="col-lg-6 right-bg" style="margin-top: 80px">
        <%= render 'form', movie: @movie %>
      </div>
    </div>
  </div>

</div>
